@font-face {
    font-family: 'beer money';
    src: url('./../fonts/beermoney.woff') format('truetype');
    /* Дополнительные настройки, если необходимо */
} 

/* Общие стили */
  body {
    margin: 0;
    font-family: 'beer money', Arial, sans-serif; /* Используем ваш шрифт */
  }

  /* Стили для навигации */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -200px; /* начинается за пределами экрана */
    background-color: black; /* черный цвет фона */
    color: white; /* белый цвет текста */
    padding-top: 60px; /* увеличим отступ сверху для текста навигации */
    transition: left 0.3s; /* анимация при изменении положения */
	text-align: center;
  }
  .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: inherit; /* наследует цвет текста от родительского элемента */
    margin-top: 10px; /* добавим отступ сверху для ссылок */
  }
  .sidenav a:hover {
    background-color: #333; /* темно-серый цвет при наведении */
  }
  /* Стили для основного контента */
  .main {
    padding: 20px;
    transition: margin-left 0.3s; /* анимация при изменении отступа */
  }
  /* Стили для кнопки */
  .menu-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    width: 30px;
    height: 30px;
    background: url('../1.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: left 0.3s; /* анимация при изменении положения */
  }
  
   footer{
    text-align: right;
	position: fixed;
    left:0px;
    bottom: -70px;
    height: 3em;
    width: 100%;
   }
