.main{
	text-align: center;
	color: white;
}
body {
  overflow-x: hidden;
}



.videocont {
  display: flex;
}
.videoitm {
  width: 100%;
  align-items: center; 
}
.videoitm2 {
  width: 100%;
  align-items: center; 
}
.videoitm, .videoitm2 {
  margin-right: -500px; /* Измените значение на нужное вам */
}

/* Для последнего элемента внутри .videocont необходимо сбросить margin-right */
.videoitm:last-child, .videoitm2:last-child {
  margin-right: 0;
}

.buttonn {
  position: relative;
  text-align: center;
  margin-top: 20px;
}


/* кнопка */
button {
  --color: white;
  background-color: black;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  bottom: 35px;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: rgb(0, 0, 0);
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

a {
 text-decoration: none;
 color: white;
}