.main{
	text-align: center;
	color: white;
}
body {
  overflow-x: hidden;
}



.videocont {
  width: 100%;
  max-width: 3000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.videoitm {
  width: 100%;
  margin: 0 10px;
  flex: 1; 
  top: 40px;

}
.videoitm2 {
  width: 100%;
  margin: 0 10px;
  flex: 1; 
  top: 0.1px;
  position: relative;
}
.videoitmtxt2{
  margin-top: 15px;
}


.buttonn {
  position: relative;
  text-align: center;
  margin-top: 20px;
}


/* кнопка */
button {
  --color: white;
  background-color: black;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  bottom: 35px;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: rgb(0, 0, 0);
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

a {
 text-decoration: none;
 color: white;
}