h1 {
    font-size: 45px;
}

a {
    text-decoration: none;
    color: white;
}

.text {
    display: inline-block;
    margin: 40px;
    font-size: 40px;
    position: relative;
}

.text a {
    transition: all 0.23s ease-in-out; /* Плавный переход для всех изменений */
    text-decoration: none; /* Убираем подчёркивание */
    display: inline-block;
    border-radius: 8px; /* Небольшое скругление по умолчанию */
}

.text a:hover {
    background-color: rgba(83, 83, 83, 0.9); /* Насыщенный фон при наведении */
    padding: 3px 5px; /* Лёгкое увеличение отступов */
    transform: scale(1.1); /* Лёгкое увеличение текста и ссылки */
    border-radius: 12px; /* Более мягкое скругление */
}

.glowing-iframe {
    display: flex; /* Flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    padding: 5px; /* Внутренний отступ */
    box-shadow: 0 0 10px 2px white; /* Свечение */
    border-radius: 9px; /* Округлённые углы */
    width: fit-content; /* Ограничиваем ширину по содержимому */
    margin: auto; /* Центрируем по горизонтали на странице */
  }

  .sakuta {
    position: relative;
    display: inline-block; /* Чтобы плашка была относительна текста */
  }
  
  .new-badge {
    position: absolute;
    top: 20px; /* Настройка отступа от верхнего края */
    right: 10px; /* Настройка отступа от правого края */
    background-color: red; /* Цвет фона */
    color: white; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
    padding: 2px 6px; /* Внутренние отступы для аккуратного вида */
    border-radius: 4px; /* Скругленные углы */
    z-index: 1; /* Чтобы плашка была сверху */
    transform: rotate(20deg); /* Наклон на 45 градусов вправо */
    cursor: cell;
  }
  