h1 {
    font-size: 45px;
}

a {
    text-decoration: none;
    color: white;
}

.text{
    display: inline-block;
    margin: 40px;
    font-size: 40px;
    position:relative;
}

.text a:hover {
    background-color: rgba(83, 83, 83, 0.7); /* используем rgba() для задания прозрачности */

}


.glowing-iframe {
    display: inline-block; /* Это поможет ограничить ширину по горизонтали */
    padding: 3px; /* Отступы внутри рамки */
    box-shadow: 0 0 30px 3px white; /* Уменьшаем горизонтальное свечение */
    border-radius: 10px; /* Округленные углы (необязательно) */
}