.video-container {
    display: inline-block; /* Размещаем видео в строчку */
    text-align: center; /* Центрируем содержимое по горизонтали */
    margin: 0 6px; /* Отступы между видео */
    padding-top: 5px;
}

.caption {
    font-size: 30px;
    margin-top: 40px; /* Отступ между видео и подписью */
    margin-bottom: 0px;
    line-height: 0.5px;
}

@font-face {
    font-family: 'beer money';
    src: url('./../fonts/beermoney.woff') format('truetype');
    /* Дополнительные настройки, если необходимо */
}

   
  /* Общие стили */
  body {
    margin: 0;
    font-family: 'beer money', Arial, sans-serif; /* Используем ваш шрифт */
    text-align: center; /* Центрируем содержимое по центру */
    background-color: black;
  }

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: -70px;
    left: -200px;
    color: white;
    padding-top: 60px;
    transition: left 0.3s;
    background-image: url("../images/ramka.png");
    background-position: 0px 65px; /* Смещение на 15px вниз */
    background-size: 100% 94.5%;
    background-repeat: no-repeat;
    font-size: 25px;
  }
  
  .sidenav h2{
    padding-top: 20px;
  }
  
  
.sidenav a:hover {
  background-color: rgba(83, 83, 83, 0.7); /* используем rgba() для задания прозрачности */
}


.sidenav a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: inherit; /* наследует цвет текста от родительского элемента */
  margin-top: 10px; /* добавим отступ сверху для ссылок */
}

/* Стили для основного контента */
.main {
  padding: 20px;
  transition: margin-left 0.3s; /* анимация при изменении отступа */
  color: white; /* белый цвет текста */
  margin-left: 0; /* чтобы контент был смещен вправо, когда навигация открыта */
}

.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  width: 30px;
  height: 30px;
  background: url('./../images/1.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: left 0.3s; /* анимация при изменении положения */
}

/* Стили для скрытых блоков */
.category-content {
  display: none;
}

/* Стили для контента */
.content1 {
  transition: margin-left 0.3s;
  color: white;
  font-size: 35px;
  position: absolute;
  left: 0;
  right: 0;
  top: 53%; /* Можете изменить значение для получения нужного отступа от верхнего края */
  transform: translateY(-50%);
  text-align: center;
}

/* Общие стили */
body {
  margin: 0;
  font-family: 'beer money', Arial, sans-serif; /* Используем ваш шрифт */
  text-align: center; /* Центрируем содержимое по центру */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Стили для футера */
footer {
  padding: 20px 0;
  padding-left: 10px;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Установим фиксированную высоту для футера */
}

footer p {
  margin: 0;
}

footer hr {
  border: 0;
  height: 1px;
  margin: 5px 0;
}

.main {
  flex: 1;
}

/* Стилизация для всех полос прокрутки */
::-webkit-scrollbar {
  width: 10px; /* Ширина полосы прокрутки */
}

/* Стилизация для области трека полосы прокрутки */
::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 0); /* Цвет фона трека */
}

/* Стилизация для ползунка */
::-webkit-scrollbar-thumb {
  background: #7a7a7a; /* Цвет ползунка */
  border-radius: 500px; /* Закругленные углы ползунка */
}

/* Стилизация при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

.vstavaynakoleni {
  margin-top: 20px;
}

/* Стили изображения */
.zoomable-image {
  max-width: 100%;
  cursor: pointer;
}

/* Стили модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  z-index: 1000;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  animation: zoom 0.3s;
  margin-top: 60px;
  height: 800px;
  width: 1400px;
  border: solid white 3px;
}

/* Анимация зума */
@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* Кнопка закрытия модального окна */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.a{
  z-index: 1;
}

.glowing-iframe {
  display: flex; /* Flexbox для центрирования содержимого */
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */
  padding: 5px; /* Внутренний отступ */
  box-shadow: 0 0 10px 2px white; /* Свечение */
  border-radius: 9px; /* Округлённые углы */
  width: fit-content; /* Ограничиваем ширину по содержимому */
  margin: auto; /* Центрируем по горизонтали на странице */
}

img{
  border-radius: 9px; /* Округленные углы (необязательно) */
}

iframe{
  border-radius: 9px; /* Округленные углы (необязательно) */
}

