.video-container {
    display: inline-block; /* Размещаем видео в строчку */
    text-align: center; /* Центрируем содержимое по горизонтали */
    margin: 0 5px; /* Отступы между видео */
    padding-top: 5px;
}

.caption {
    font-size: 30px;
    padding-top: 1px; /* Отступ между видео и подписью */
}

@font-face {
    font-family: 'beer money';
    src: url('./../fonts/beermoney.woff') format('truetype');
    /* Дополнительные настройки, если необходимо */
}

   
  /* Общие стили */
  body {
    margin: 0;
    font-family: 'beer money', Arial, sans-serif; /* Используем ваш шрифт */
    text-align: center; /* Центрируем содержимое по центру */
    background-color: black;
  }

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: -70px;
    left: -200px;
    color: white;
    padding-top: 60px;
    transition: left 0.3s;
    background-image: url("../images/ramka.png");
    background-position: 0px 65px; /* Смещение на 15px вниз */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 25px;
  }
  
  
  
.sidenav a:hover {
  background-color: rgba(83, 83, 83, 0.7); /* используем rgba() для задания прозрачности */
}


.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  color: inherit; /* наследует цвет текста от родительского элемента */
  margin-top: 10px; /* добавим отступ сверху для ссылок */
}

/* Стили для основного контента */
.main {
  padding: 20px;
  transition: margin-left 0.3s; /* анимация при изменении отступа */
  color: white; /* белый цвет текста */
  margin-left: 0; /* чтобы контент был смещен вправо, когда навигация открыта */
}

/* Стили для кнопки */
.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  width: 30px;
  height: 30px;
  background: url('./../images/1.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: left 0.3s; /* анимация при изменении положения */
}

/* Стили для скрытых блоков */
.category-content {
  display: none;
}

/* Стили для контента */
.content1 {
  transition: margin-left 0.3s;
  color: white;
  font-size: 35px;
  position: absolute;
  left: 0;
  right: 0;
  top: 53%; /* Можете изменить значение для получения нужного отступа от верхнего края */
  transform: translateY(-50%);
  text-align: center;
}

/* Общие стили */
body {
  margin: 0;
  font-family: 'beer money', Arial, sans-serif; /* Используем ваш шрифт */
  text-align: center; /* Центрируем содержимое по центру */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Стили для футера */
footer {
  padding: 20px 0;
  padding-left: 10px;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Установим фиксированную высоту для футера */
}

footer p {
  margin: 0;
}

footer hr {
  border: 0;
  height: 1px;
  margin: 5px 0;
}

/* Остальные стили */
body {
  margin: 0;
  font-family: 'beer money', Arial, sans-serif; /* Используем ваш шрифт */
  text-align: center; /* Центрируем содержимое по центру */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

/* Стилизация для всех полос прокрутки */
::-webkit-scrollbar {
  width: 10px; /* Ширина полосы прокрутки */
}

/* Стилизация для области трека полосы прокрутки */
::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 0); /* Цвет фона трека */
}

/* Стилизация для ползунка */
::-webkit-scrollbar-thumb {
  background: #7a7a7a; /* Цвет ползунка */
  border-radius: 500px; /* Закругленные углы ползунка */
}

/* Стилизация при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

.vstavaynakoleni {
  margin-top: 20px;
}